body {
    margin: 0;
    padding: 0;

    background:
        radial-gradient(circle at top, #1a1f27 0%, #0f1318 40%, #080a0d 100%),
        repeating-linear-gradient(45deg,
            rgba(255, 255, 255, 0.015) 0px,
            rgba(255, 255, 255, 0.015) 2px,
            transparent 2px,
            transparent 6px),
        url(pozadiAutoLux.png) no-repeat center bottom;

    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    color: #f5f5f5;
    padding: 20px;
}

.logo {
    text-align: center;
    padding: 3rem 1rem;
    color: #f8fafc;
    border-radius: 10px;
}

.logo h1 {
    font-size: 7rem;
    margin: 0;
    letter-spacing: 2px;
    font-weight: 700;
    color: #caa200;
}

.oddeleni {
    height: 1px;
    background: linear-gradient(to right, transparent, #caa200, transparent);
    margin: 50px 0;
}

.navbar {
    background-color: rgb(43, 43, 43) !important;
    border-radius: 10px;
    margin: 20px;
}

.navbar-brand {
    color: #caa200 !important;
    font-weight: bold;
}

.navbar-toggler {
    border-color: white !important;
}

.navbar-toggler-icon {
    filter: invert(1) brightness(100%);
}

.navbar-brand:hover {
    transform: scale(1.05);
    transition: .2s;
    color: #e6c438 !important;
}

.nav-link {
    color: white !important;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px !important;
    border-radius: 10px;
}

.nav-link:hover {
    transform: scale(1.05);
    transition: .2s;
}


#collapse {
    text-align: center;
}

#collapse .row {
    justify-content: center;
}

#collapse .btn-primary {
    background-color: #caa200;
    border: none;
}

#collapse .btn-primary:hover {
    background-color: #a38700;
}

.card-body {
    background-color: #2b2b2b;
    color: white;
    border-radius: 10px;
}

#accordion{
    margin-top: 20px;
}

.accordion-button {
    background-color: #2b2b2b !important;
    color: white !important;
}

.accordion-body {
    color: white !important;
}

.accordion-button:not(.collapsed) {
    background-color: #caa200 !important;
    color: rgb(233, 233, 233) !important;
}

.accordion-item {
    background-color: #1f1f1f;
    border: 1px solid #4a4a4a;
}


#list-group h3 {
    text-align: center;
    background-color: rgb(60, 60, 60);
    width: 80%;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto 20px auto;
}

.list-group-item {
    background-color: #2b2b2b;
    border: 1px solid #444;
    color: white;
    text-align: center;
}

.list-group-item:nth-child(even) {
    background-color: #1f1f1f;
}


.carousel-inner img {
    width: 100%;
    height: 450px;
    object-fit: cover;  
    border-radius: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(58%) sepia(72%) saturate(1000%) hue-rotate(10deg) brightness(92%) contrast(1000%);
}

#tabulka {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tabulka h2 {
    text-align: center;
    background-color: rgb(60, 60, 60);
    width: 80%;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto 20px auto;
}

#tabulka table {
    width: 78%;
    border-collapse: collapse;
    margin-top: 16px;
}

#tabulka thead {
    background-color: #414141;
    color: white;
}

#tabulka th, td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

#tabulka tbody tr:nth-child(even) {
    background-color: rgb(41, 41, 41);
}

#modal {
    margin-top: 50px;
    text-align: center;   
}

#modal-content {
    background-color: #2d2d2d;
    color: white;
}

#modal-header {
    border-bottom: 1px solid #555;
}

#modal-footer {
    border-top: 1px solid #555;
}

.btn-primary {
    background-color: #caa200;
    border: none;
}

.btn-primary:hover {
    background-color: #a38700;
}

.btn-secondary {
    background-color: #444;
    border: none;
}

.btn-secondary:hover {
    background-color: #333;
}
